@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
h1{
    font-family: 'Big Shoulders Display', cursive;
    
    text-transform: uppercase;
    letter-spacing: 1px;
   
    color:  hsl(0, 0%, 95%);
}
p{
    color: hsla(0, 0%, 100%, 0.75);
    font-family: 'Lexend Deca', sans-serif;
    font-size: 15px;
}
button{
    font-family: 'Lexend Deca', sans-serif;
    margin-top: 30px;
    
    
    border-radius: 28px;
}